:root {
  --font-heading: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-geist-mono);
}
